main {
 width: 100%;
 min-height: 80%;

 padding: 20px;

 display: flex;
 justify-content: center;
 align-items: center;
}

header p:hover {
 cursor: pointer;
}

.form {
 width: 50%;
 height: 400px;

 padding: 4%;

 background-color: #212a3e;

 display: flex;
 flex-direction: column;
 justify-content: start;
 align-items: center;
 gap: 15%;
}

input {
 all: unset;

 width: 80%;

 font-size: 20px;
 font-family: monospace;
 color: #fff;

 background-color: transparent;
 border-radius: 12px;
 border: #fff;
 border-style: solid;

 padding: 5px;
}

input::placeholder{
  color: #ffffffc4;
}

button {
width: 100px;

  background-color: transparent;
 
  font-family: monospace;
  font-size: 16px;
 
  padding: 8px;
  border-radius: 8px;
  border-color: #fff;
  border-style: solid;
  transition: all 0.2s ease;

  color: #fff;
 }

 button:hover {
  background-color: #fff;
 
  color: #212a3e;
  cursor: pointer;
 }