header {
 width: 100%;
 height: 80px;

 background: #f6f9fa;

 font-size: 24px;

 padding: 0 5%;

 display: flex;
 align-items: center;
 justify-content: space-between;
 font-family: 'Poppins';
} 

header button {
 background-color: transparent;

 font-family: monospace;
 font-size: 16px;

 padding: 8px;
 border-radius: 50%;
 border-color: #000;
 border-style: solid;
 transition: all 0.1s ease;
 width: 40px;
 height: 40px;

 border: 2px solid;
}

header button:hover {
 background-color: #212a3e;
 border-color: #212a3e;

 color: #fff;
 cursor: pointer;
}

header .socials{
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 16px;
}

@media (max-width: 600px) {
  header{
    padding: 0 10px;
    flex-direction: column;
    height: auto;
  }
}