* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.6;
  color: black;
  font-family: monospace;

  background-color: beige;

  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
  
  height: 100vh;
  width: 100%;
}

p{
  font-size: 25px;
}