.title {
 width: 100%;
 height: 60px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.title p {
 font-size: 18px;
}

.list {
 width: 100%;
 height: 100%;
 padding: 2%;

 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}

.card {
 width: 300px;
 height: 350px;
 padding: 20px;
 gap: 20px;

 background-color: #212a3e;
 border-radius: 30px;

 color: #fff;

 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.card p {
 font-size: 15px;
 font-weight: bold;
}

.card img {
 width: 150px;
}

.desc {
 font-size: 15px;
 font-weight: 550;
}

.card button {
 background-color: transparent;

 font-family: monospace;
 font-size: 16px;

 padding: 8px;
 border-radius: 8px;
 border-color: #fff;
 border-style: solid;
 transition: all 0.2s ease;
 color: #fff;

 width: 100%;
}

.card button:hover {
 background-color: #fff;
 color: #212a3e;
}
